/*font-family: 'Playfair Display', serif; font-family: 'Poppins', sans-serif;*/
:root {
    --background-color: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(76, 132, 132)100.5%
  );
  --font-color: #6f3b8d;
  --border-color: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  --shadow: 5px 5px 2px 7px;
  --background: rgb(161, 96, 222);
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --shadowing: 20px 17px 15px 17px rgba(225, 216, 216, 0.797);

   --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background-shade: linear-gradient(96.2deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 105.8%);
  --gradient-background:linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

h1 {
  color: rgb(28, 5, 50);
  font-family: var(--heading-font);
  font-size: 57px;
}

li {
  font-family: var(--default-font);
  font-size: 45px;
  list-style: none;
}

.git-iconed {
  color: rgb(28, 25, 31);
  font-size: 28px;
}
.git-icon {
  color: blueviolet;
  font-size: 28px;
  transition: all 150ms ease-in-out;
}

.git-icon:hover {
  color: black;
  font-size: 50px;
}

.main-page {
  background: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}

.main-page,
p {
  font-family: "Poppins";

}
.main-page h2 {
  font-family: "Playfair Display";
}

.btn-purple {
  background: pink;
  border-radius: 4px;
  font-size: 15px;
  line-height: 20px;
  padding: 12px 12px;
  margin: 15px;
}

h3, .app{
  font-size: 64px;
}
p, .app-info{
font-weight: normal;
font-size: 17px;
}

.btn-branding{
background: var(--background);
color: cornsilk;
font-size: 17px;
text-decoration: none;
padding: 10px;
}

.project-description{
  padding: 0 10px;
}

@media(max-width: 480px) {
  body{
    text-align: center;
  }
.project-description{
    padding: 10px;
    font-size: 10px;
    
  }
  img{
    max-width: 100px;
  }
  .main-page{
    background: whitesmoke;
  }
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 20px;
  }
  li{
    font-size: 28px;
  }
  #cv-button{
    display: block;
  }
  .tech-icon{
    display: none;
  }
 p,.paragraph{
  border: 1px solid;
  color: #150212;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 5px 2px 3px 2px rgba(225, 216, 216, 0.797);
margin-left: 5px;
margin-right: 5px;
margin-bottom: ;
}
  }
img{
  margin-bottom: 40px;
}

li{
  font-size: 27px;
}

a{
  margin: 15px;
}

span img, #profile-pic {
  border: 2px solid #492a5c;
  border-radius: 900px;
  box-shadow: var(--shadowing);

}

a {
  text-decoration: none;
  transition: all 120ms ease-in-out;
  
}
.para{
 border: 1px solid;
  color: #ffffff;
  background: var(--border-color);
  border-radius: 10px;
  padding: 15px;
  box-shadow: var(--shadow);
}

#cv-button{
  border: 1px solid black;
  color: #e9e3ed;
  background: #4d2a62;
  margin: 40px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 5px;

}

#cv-button:hover{
background-color: #e9e3ed;
color: #291535;


}


#contact-me{
  border: 1px solid black;
  color: #f5f4f7;
  background: #63377b;
  margin: 40px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}
span img, .tech-icon{
  border: none;
  box-shadow: none;
  border-radius:0px;
  
}
video{
  margin-top: 90px;
  margin-left: 40px;
border-radius: 10px;
margin-right: 10px;
border: 2px solid black;
}

h1, .heading{
  color: rgb(28, 5, 50);
  font-family: var(--heading-font);
  font-size: 50px;

}
h2, .about-section{
  font-size: 28px;
  font-family:'Playfair Display', serif ;
}
.about-section{
  padding: 50px 70px;
}

a, .about-button{
  border: 1px solid black;
  color: #e9e3ed;
  background: #4d2a62;
  margin: 0px auto;
  border-radius: 5px;
  text-decoration: none;
  padding: 9px;
  margin-left: 50px;
}

a, .socials{
  background: none;
  border: none;
}
p, .about-section{
  font-size: 15px;
}
@media(max-width: 400px){
  h1, .heading{
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
  }
  h2, .about-section{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
margin-top: 1px;
  }
  p, .about-section{
    font-size: 22px;
    font-weight: 200;
    padding: 20px;
  }
  video{
    max-width: 300px;

  }
r  a, .about-button{
    display:block;
    margin:0;
    margin-bottom: 70px;
  }
}

#live-demo{
  border: 1px solid black;
  color: #e9e3ed;
  background: #4d2a62;
  margin: 0px auto;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  margin-left: 10px;
  font-size: 15px;
}

@media(max-width: 480px) {
  ul, p{
    display: none;
  }
  ul, li{
    display: grid;
    font-size: 20px;
    margin: 10px;
  }
ul, #live-demo{
  font-size: 15px;
  margin-top: 25px;
  padding: 10px;
}
}

body, .projects{
  background:rgb(239, 235, 208) 10.4%;
}
div p{
  font-size: 19px;
}

#live-demo{
  margin-bottom: 30px;
  padding: 5px;
  display: block;
 text-align: center;
}
 #live-demo:hover{
background-color: #e9e3ed;
color: #291535;
padding: 10px;
transition: all 150ms ease-in-out;
}